@import "./fontawesome/css/all.css";

:root {
  --brand-color: #3b2f92;

  --background: #e2e2e2;

  --card-color: #4d5061;
  --sub-card-color: #3b2f92;

  --main-text-color: #e2e2e2;

  --light-color: #ffffff;
  --dim-color: #a9a9a9;
  --dark-color: #000000;
}

body {
  margin: 0;
  background-color: var(--brand-color);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.2em solid var(--light-color);
  transition: 2s;
  background-color: var(--brand-color);
  z-index: 1000;
}

header aside img {
  width: 5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

header p {
  font-size: 1.2em;
  color: var(--main-text-color);
  transition: 2s;
}

header #center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header #socials {
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 10em;
  transition: 1.5s;
}

header #socials a {
  color: var(--main-text-color);
  text-decoration: none;
  transition: 1.5s;
}

header:hover {
  background-color: var(--light-color);
  border-bottom: 0.2em solid var(--brand-color);
}

header:hover img {
  content: url(Medias/Logo/logo-supinfo.png);
}

header:hover p {
  color: var(--brand-color);
}

header:hover #socials {
  color: var(--brand-color);
}

header:hover #socials a {
  color: var(--brand-color);
  text-decoration: none;
}

header:hover #socials a:hover {
  transform: scale(1.5);
  color: var(--dark-color);
}

h1 {
  color: var(--dark-color);
  text-align: center;
}

.card {
  background-color: var(--sub-card-color);
  display: flex;
  width: 70%;
}

input.toggle {
  opacity: 0;
  position: absolute;
}

nav i {
  transform: scale(3);
  color: var(--light-color);
}

nav i:hover {
  transform: scale(3.3);
}

header:hover nav i {
  color: var(--brand-color);
}

div#navbar {
  position: absolute;
  left: 0;
  top: 6em;
  width: 100%;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: 0.5s dropdown;
  transition: 2s;
}

div#navbar a {
  text-decoration: none;
  color: var(--light-color);
  opacity: 0;
  transition: 2s;
}

input.toggle:checked + label div#navbar {
  height: 4em;
  background-color: var(--brand-color);
  border-bottom: 0.3em solid var(--light-color);
  transition: 2s;
}

input.toggle:checked + label div#navbar a {
  font-size: 1.3em;
  text-align: center;
  animation: 1.2s apear forwards;
}

header:hover input.toggle:checked + label div#navbar {
  background-color: var(--light-color);
  border-bottom: 0.2em solid var(--brand-color);
}

header:hover input.toggle:checked + label div#navbar a {
  color: var(--brand-color);
}

@keyframes dropdown {
  to {
    height: 4em;
  }
}

@keyframes apear {
  to {
    opacity: 100%;
  }
}

#spacing {
  height: 10em;
  background-color: var(--background);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background);
  overflow: hidden;
}

h1 {
  text-align: center;
  color: var(--dark-color);
}

h3 {
  margin-bottom: 0;
}

p {
  margin-top: 0.3em;
}

fieldset {
  background-color: var(--sub-card-color);
  display: flex;
  border-color: var(--light-color);
  border-radius: 10px;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 75%;
  border: solid 2.5em var(--card-color);
}

legend {
  color: var(--main-text-color);
  background-color: var(--sub-card-color);
  border-radius: 25px;
  padding-left: 1em;
  padding-right: 1em;
  border: solid 1.5em var(--card-color);
  border-radius: 40px;
}

ul {
  color: var(--light-color);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--brand-color);
  width: 100%;
  padding-top: 2em;
}

footer img {
  width: 7em;
  height: 7em;
}

footer h2 {
  margin-top: 0;
}

footer #infos {
  max-width: 30%;
  color: var(--light-color);
}

footer #socials {
  display: flex;
  justify-content: space-evenly;
  width: 15%;
}

footer #socials a {
  color: var(--main-text-color);
  text-decoration: none;
}

footer #redirect {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 4em;
  background-color: var(--brand-color);
  width: min-content;
  color: var(--light-color);
}

footer #redirect a {
  font-size: 1.3em;
  text-align: center;
  animation: 1.2s apear forwards;
  text-decoration: none;
  font-size: 1em;
  color: var(--main-text-color);
  margin-bottom: 0.5em;
}

/* responsive on phones */
@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }

  header aside img {
    width: 3em;
  }

  header p {
    font-size: 0.8em;
    margin-top: 0;
  }

  nav {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  nav i {
    transform: scale(1.5);
  }

  nav i:hover {
    transform: scale(1.7);
    color: var(--light-color);
  }

  div#navbar {
    top: 10em;
  }

  input.toggle:checked + label div#navbar {
    flex-direction: column;
    top: 9.5em;
    height: 11em;
  }

  input.toggle:checked + label div#navbar a {
    font-size: 1em;
  }

  h1 {
    font-size: 1.7em;
  }

  fieldset {
    margin-top: 0;
    margin-bottom: 1.5em;
    width: 85%;
    border: solid 1.5em var(--card-color);
  }

  legend {
    border: solid 1em var(--card-color);
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  footer img {
    width: 0;
    height: 0;
  }

  footer #infos {
    max-width: 90%;
  }

  footer #socials {
    width: 30%;
  }

  footer #redirect {
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: auto;
    margin-top: 1em;
  }
}

/* responsive on tablet */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  header {
    height: 6em;
  }

  header aside img {
    width: 4em;
  }

  header p {
    font-size: 1em;
    margin-top: 0;
  }

  input.toggle:checked + label div#navbar a {
    font-size: 1.1em;
  }

  h1 {
    font-size: 1.8em;
  }

  fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 85%;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  footer img {
    width: 0;
    height: 0;
  }

  footer #infos {
    max-width: 90%;
  }

  footer #socials {
    width: 30%;
  }

  footer #redirect {
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
  }
}
