@import "./fontawesome/css/all.css";

:root {
  --brand-color: #3b2f92;

  --background: #e2e2e2;

  --main-color: #5f7367;
  --lighter-main-color: #587d71;

  --main-text-color: #e2e2e2;

  --light-color: #ffffff;
  --dim-color: #a9a9a9;
  --dark-color: #000000;
}

body {
  margin: 0;
  background-color: var(--brand-color);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.2em solid var(--light-color);
  transition: 2s;
  background-color: var(--brand-color);
  z-index: 1000;
}

header aside img {
  width: 5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

header p {
  font-size: 1.2em;
  color: var(--main-text-color);
  transition: 2s;
}

header #center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header #socials {
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 10em;
  transition: 1.5s;
}

header #socials a {
  color: var(--main-text-color);
  text-decoration: none;
  transition: 1.5s;
}

header:hover {
  background-color: var(--light-color);
  border-bottom: 0.2em solid var(--brand-color);
}

header:hover img {
  content: url(Medias/Logo/logo-supinfo.png);
}

header:hover p {
  color: var(--brand-color);
}

header:hover #socials {
  color: var(--brand-color);
}

header:hover #socials a {
  color: var(--brand-color);
  text-decoration: none;
}

header:hover #socials a:hover {
  transform: scale(1.5);
  color: var(--brand-color);
}

header:hover button {
  border: 2px solid var(--dark-color);
}

header:hover button:hover {
  border: 2px solid var(--dark-color);
  transform: scale(1.1);
  background-color: var(--lighter-main-color);
}

h1 {
  color: var(--dark-color);
  text-align: center;
}

.card {
  background-color: var(--lighter-main-color);
  display: flex;
  width: 70%;
}

input.toggle {
  opacity: 0;
  position: absolute;
}

nav i {
  transform: scale(3);
  color: var(--light-color);
}

header:hover nav i {
  color: var(--brand-color);
}

div#navbar {
  position: absolute;
  left: 0;
  top: 6em;
  width: 100%;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: 0.5s dropdown;
  transition: 2s;
}

div#navbar a {
  text-decoration: none;
  color: var(--light-color);
  opacity: 0;
  transition: 2s;
}

input.toggle:checked + label div#navbar {
  height: 4em;
  background-color: var(--brand-color);
  border-bottom: 0.3em solid var(--light-color);
  transition: 2s;
}

input.toggle:checked + label div#navbar a {
  font-size: 1.3em;
  text-align: center;
  animation: 1.2s apear forwards;
}

header:hover input.toggle:checked + label div#navbar {
  background-color: var(--light-color);
  border-bottom: 0.2em solid var(--brand-color);
}

header:hover input.toggle:checked + label div#navbar a {
  color: var(--brand-color);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background);
  padding-bottom: 2em;
}

@keyframes dropdown {
  to {
    height: 4em;
  }
}

@keyframes apear {
  to {
    opacity: 100%;
  }
}

#spacing {
  height: 10em;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#trombinoscope h2 {
  text-align: center;
  color: var(--dark-color);
}

#trombinoscope #grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em 0.5em;
}

#trombinoscope #grid .card {
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: var(--lighter-main-color);
  display: flex;
  flex-direction: column;
  width: min-content;
}

#trombinoscope #grid .card img {
  border: solid 0.5em var(--main-color);
}

#trombinoscope #grid .card .text {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 0.4em;
  color: var(--main-text-color);
}

#trombinoscope #grid .card .text p {
  margin: 0.3em;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--brand-color);
  width: 100%;
  padding-top: 2em;
}

footer img {
  width: 7em;
  height: 7em;
}

footer h2 {
  margin-top: 0;
}

footer #infos {
  max-width: 30%;
  color: var(--light-color);
}

footer #socials {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
}

footer #socials a {
  color: var(--light-color);
  text-decoration: none;
}

footer #redirect {
  color: var(--light-color);
}

/* responsive on phones */
@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }

  header aside img {
    width: 3em;
  }

  header p {
    font-size: 0.8em;
    margin-top: 0;
  }

  nav {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  nav i {
    transform: scale(1.5);
  }

  div#navbar {
    top: 10em;
  }

  input.toggle:checked + label div#navbar {
    flex-direction: column;
    top: 9.5em;
    height: 11em;
  }

  input.toggle:checked + label div#navbar a {
    font-size: 1em;
  }

  #trombinoscope #grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em 0.5em;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  footer img {
    width: 0;
    height: 0;
  }

  footer #infos {
    max-width: 90%;
  }

  footer #socials {
    width: 30%;
  }

  footer #redirect {
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
  }
}

/* responsive on tablet */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  header {
    height: 6em;
  }

  header aside img {
    width: 4em;
  }

  header p {
    font-size: 1em;
    margin-top: 0;
  }

  input.toggle:checked + label div#navbar a {
    font-size: 1.1em;
  }

  #trombinoscope #grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em 0.5em;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  footer img {
    width: 0;
    height: 0;
  }

  footer #infos {
    max-width: 90%;
  }

  footer #socials {
    width: 30%;
  }

  footer #redirect {
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
  }
}
