@import "./fontawesome/css/all.css";

:root {
  --brand-color: #3b2f92;

  --background: #e2e2e2;

  --card-color: #4d5061;
  --sub-card-color: #3b2f92;

  --main-text-color: #e2e2e2;

  --light-color: #ffffff;
  --dim-color: #a9a9a9;
  --dark-color: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--brand-color);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.2em solid var(--light-color);
  transition: 2s;
  background-color: var(--brand-color);
  z-index: 1000;
}

header aside img {
  width: 5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

header p {
  font-size: 1.2em;
  color: var(--main-text-color);
  transition: 2s;
}

header #center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .socials {
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 10em;
  transition: 1.5s;
}

header .socials a {
  color: var(--main-text-color);
  text-decoration: none;
  transition: 1.5s;
}

header:hover {
  background-color: var(--light-color);
  border-bottom: 0.2em solid var(--brand-color);
}

header:hover img {
  content: url(../pictures/Logo/logo-supinfo.png);
}

header:hover p {
  color: var(--brand-color);
}

header:hover .socials {
  color: var(--brand-color);
}

header:hover .socials a {
  color: var(--brand-color);
  text-decoration: none;
}

header:hover .socials a:hover {
  transform: scale(1.5);
  color: var(--dark-color);
}

input.toggle {
  opacity: 0;
  position: absolute;
}

nav i {
  transform: scale(3);
  color: var(--light-color);
}

nav i:hover {
  transform: scale(3.3);
  color: red;
  color: var(--light-color);
}

header:hover nav i {
  color: var(--brand-color);
}

div#navbar {
  position: absolute;
  left: 0;
  top: 6em;
  width: 100%;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: 0.5s dropdown;
  transition: 2s;
}

div#navbar a {
  text-decoration: none;
  color: var(--light-color);
  opacity: 0;
  transition: 2s;
  visibility: collapse;
}

input.toggle:checked + label div#navbar {
  height: 4em;
  background-color: var(--brand-color);
  border-bottom: 0.3em solid var(--light-color);
  border-top: 0.3em solid var(--background);
  transition: 2s;
}

input.toggle:checked + label div#navbar a {
  font-size: 1.3em;
  text-align: center;
  animation: 1.2s apear forwards;
  visibility: visible;
}

header:hover input.toggle:checked + label div#navbar {
  background-color: var(--light-color);
  border-bottom: 0.2em solid var(--brand-color);
}

header:hover input.toggle:checked + label div#navbar a {
  color: var(--brand-color);
}

@keyframes dropdown {
  to {
    height: 4em;
  }
}

@keyframes apear {
  to {
    opacity: 100%;
  }
}

#main-decoration {
  z-index: -1;
  text-align: center;
  background-color: var(--background);
  overflow: hidden;
}

#main-decoration img {
  min-width: 100%;
  height: 100vh;
}

#main-decoration p {
  position: absolute;
  top: 68%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  color: var(--main-text-color);
  font-size: 40px;
  color: var(--light-color);
}

#main-decoration .circle {
  display: flex;
  align-items: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%);
  border: 5px double var(--dim-color);
  border-radius: 50%;
  padding: 8px;
  height: 2em;
  width: 2em;
  box-shadow: 0 0 0 0 var(--background);
  animation: 1s pulse infinite;
}

#main-decoration i {
  color: var(--light-color);
  font-size: 40px;
  animation: gradient 5s infinite;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 6px var(--sub-card-color);
  }
}

@keyframes gradient {
  to {
    color: var(--sub-card-color);
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background);
  padding-bottom: 2em;
}

h1 {
  opacity: 0;
  position: absolute;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-color);
  border-radius: 7.5em 7.5em 4em 4em;
  margin-top: 5em;
  width: 95%;
  padding-bottom: 1.5em;
  color: var(--main-text-color);
}

.scrollable {
  overflow-y: scroll;
  height: 55vh;
  padding: 5px;
  border-radius: 2.5em;
}

section h2 {
  color: var(--main-text-color);
}

.title {
  display: flex;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 4em;
  padding-right: 4em;
}

.title h2 {
  color: var(--main-text-color);
  margin-bottom: 0em;
  margin-top: 0em;
}

.title i {
  margin-left: 1em;
  color: var(--main-text-color);
}

#description .title {
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container aside {
  width: 50%;
  margin-right: 6em;
  margin-left: 3em;
}

#description .container aside p {
  background-color: var(--sub-card-color);
  padding: 2em;
  border-radius: 50px;
}

.card {
  background-color: var(--sub-card-color);
  display: flex;
}

#description .container .card {
  display: flex;
  width: 50%;
  margin-right: 4em;
  border-radius: 50px;
}

#description .container .card .text {
  background-color: var(--sub-card-color);
  padding: 2em;
  border-radius: 50px;
}

#campus {
  display: flex;
  flex-direction: column;
  width: 95%;
}

#campus .card {
  border-radius: 2rem;
  flex-direction: row;
  position: relative;
  border: 0.3em solid var(--card-color);
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

#campus .card img {
  width: 25vw;
  border-radius: 1.7em 0em 0em 1.7em;
  border-right: 0.3em solid var(--dark-color);
  max-width: 14em;
}

#campus .card .text {
  color: var(--main-text-color);
}

#campus .card .text h4 {
  margin: 2.5em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 0.4em;
  font-size: 1.3em;
}

#campus .card .text .phone {
  display: flex;
  align-items: center;
  justify-content: center;
}

#campus .card .text .phone p {
  margin: 0.5em;
}

#campus .card p {
  margin-left: 2.5em;
  margin-right: 2.5em;
  margin-bottom: 0em;
  font-size: 0.9em;
  text-align: center;
}

#specialite {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
  width: 90%;
}

#specialite .card {
  flex-direction: column;
  align-items: center;
  min-width: min-content;
  padding: 1em;
  border-radius: 25px;
}

#specialite .card img {
  height: 14vw;
  border-radius: 25px;
  transition: 1s;
  width: 21vw;
}

#specialite .card h3 {
  text-transform: uppercase;
  text-align: center;
  transition: 1s;
  margin-bottom: 0;
}

button {
  border: 2px solid var(--light-color);
  padding: 1rem;
  width: 10rem;
  border-radius: 25px;
  background-color: var(--brand-color);
  color: var(--main-text-color);
  transition: 1.5s;
  width: 100%;
  margin: 1em;
}

#specialite .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

#debouches .button button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #3d5f80;
}

#specialite .button button {
  width: 90%;
}

#specialite .card:hover img {
  transform: scale(1.03);
}

#specialite .card:hover h3 {
  transform: scale(1.03);
}

#specialite .button button:hover {
  border: 2px solid var(--dark-color);
  transform: scale(1.1);
  background-color: var(--sub-card-color);
}

#ionis .container {
  flex-direction: column;
}

#ionis .text {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#ionis .text .card {
  display: flex;
  justify-content: center;
  margin: 1em;
  border-radius: 5em;
  flex-direction: column;
  align-items: center;
}

#ionis .text .card img {
  border-radius: 5em;
  margin: 2em;
  transition: 3s;
}

#ionis .text .card img:hover {
  transform: scale(1.2);
}

#ionis .key-elements {
  flex-direction: row;
  display: flex;
  padding-bottom: 3em;
}

#ionis .key-elements .card {
  width: 90%;
  border-radius: 5em;
  background-color: var(--card-color);
  flex-direction: row;
}

#ionis .card i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5em;
  margin-left: 1.5em;
}

#ionis .card h4 {
  margin: 0.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 65%;
}

#ionis .wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  margin-top: 0;
  padding-bottom: 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--brand-color);
  width: 100%;
  padding-top: 2em;
}

footer img {
  width: 7em;
  height: 7em;
}

footer h2 {
  margin-top: 0;
}

footer #infos {
  max-width: 30%;
  color: var(--light-color);
}

footer .socials {
  display: flex;
  justify-content: space-evenly;
  width: 15%;
}

footer .socials a {
  color: var(--main-text-color);
  text-decoration: none;
}

footer #redirect {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 4em;
  background-color: var(--brand-color);
  width: min-content;
  color: var(--light-color);
}

footer #redirect a {
  font-size: 1.3em;
  text-align: center;
  animation: 1.2s apear forwards;
  text-decoration: none;
  font-size: 1em;
  color: var(--main-text-color);
  margin-bottom: 0.5em;
}

/* responsive on phones */
@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }

  header aside img {
    width: 3em;
  }

  header p {
    font-size: 0.8em;
    margin-top: 0;
  }

  nav {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  nav i {
    transform: scale(1.5);
  }

  nav i:hover {
    transform: scale(1.7);
    color: red;
    color: var(--light-color);
  }

  div#navbar {
    top: 10em;
  }

  input.toggle:checked + label div#navbar {
    flex-direction: column;
    top: 9.5em;
    height: 11em;
  }

  input.toggle:checked + label div#navbar a {
    font-size: 1em;
  }

  #spacing {
    height: 12em;
  }

  .container {
    flex-direction: column;
  }

  .container aside {
    flex-direction: column;
    width: 90%;
    margin: 0;
  }

  #description .container .card {
    flex-direction: column;
    width: 90%;
    border-radius: 50px;
    margin-right: 0;
  }

  .scrollable {
    height: 73vh;
  }

  #campus .card {
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
  }

  #campus .card img {
    border-radius: 1.7em;
    max-width: 14em;
    border-right: 0;
    width: auto;
  }

  #campus .card .text h4 {
    margin-top: 1em;
  }

  #specialite {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.3em;
  }

  #specialite .card {
    height: 85%;
  }

  #specialite .card img {
    width: 60vw;
    height: 40vw;
  }

  .title {
    flex-direction: column;
  }

  .title h2 {
    font-size: 1.2em;
    width: 80%;
    text-align: center;
  }

  .title i {
    margin: 0;
  }

  #ionis .text .card img {
    width: 70%;
  }

  #ionis .key-elements {
    flex-direction: column;
    align-items: center;
  }

  #ionis .key-elements .wrapper {
    width: 90%;
  }

  #ionis .card p {
    margin: 0.5em;
  }

  #ionis .key-elements .card {
    border-radius: 5em;
    flex-direction: row;
    margin: 0.3em;
    width: 80%;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  footer img {
    width: 0;
    height: 0;
  }

  footer #infos {
    max-width: 90%;
  }

  footer .socials {
    width: 30%;
  }

  footer #redirect {
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: auto;
    margin-top: 1em;
  }
}

/* responsive on tablet */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  header {
    height: 6em;
  }

  header aside img {
    width: 4em;
  }

  header p {
    font-size: 1em;
    margin-top: 0;
  }

  input.toggle:checked + label div#navbar a {
    font-size: 1.1em;
  }

  .container {
    flex-direction: column;
  }

  .container aside {
    flex-direction: column;
    width: 90%;
    margin: 0;
  }

  #description .container .card {
    flex-direction: column;
    width: 90%;
    border-radius: 50px;
    margin-right: 0;
  }

  .scrollable {
    height: 65vh;
  }

  #specialite {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
  }

  #specialite .card img {
    width: 30vw;
    height: 20vw;
  }

  .title {
    flex-direction: column;
  }

  .title h2 {
    font-size: 1.2em;
    width: 80%;
    text-align: center;
  }

  .title i {
    margin: 0;
  }

  #ionis .text .card img {
    width: 70%;
  }

  #ionis .key-elements {
    flex-direction: column;
    align-items: center;
  }

  #ionis .card p {
    margin: 0.5em;
  }

  #ionis .key-elements .wrapper {
    width: 90%;
  }

  #ionis .key-elements .card {
    border-radius: 5em;
    flex-direction: row;
    margin: 0.3em;
    width: 80%;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  footer img {
    width: 0;
    height: 0;
  }

  footer #infos {
    max-width: 90%;
  }

  footer .socials {
    width: 30%;
  }

  footer #redirect {
    width: 70%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
  }

  footer #redirect h2 {
    opacity: 0;
    position: absolute;
  }
}
